body {
    margin: 0;
    background-color: black;
    color: limegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Courier New", monospace;
  }

  img {
    width: 200px;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
  }

  #loading-text {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 2px;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }